.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 95% !important; /* Increased width */
  max-width: 1000px !important; /* Increased max-width */
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

body.dark-mode .modal-content {
  color: #fa2a2a; /* Text color for dark mode */
  background-color: #6b6e6d; /* Added background color */
}

body.dark-mode .modal-field label {
  color: #edebeb; /* Label color for dark mode */
}

body.dark-mode .modal-header-title {
  background-color: #3a3f44; /* A slightly different dark shade */
  color: var(--text-dark); /* Light text for contrast */
  padding: 10px;
  border-radius: 8px 8px 0 0; /* Rounded top corners */
  margin: -20px -20px 20px -20px; /* Adjust to fill the top of the modal */
}

.modal-actions-top {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 10; /* Ensure buttons are above other content */
}

.modal-body {
  margin-top: 20px;
}

.modal-field {
  margin-bottom: 15px;
}

.modal-field label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.modal-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
